.photographer-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.photographer-img {
	border-radius: 50%;
}
.photographer-list__item {
	display: flex;
	flex-direction: column;
		align-items: center;
}

.comments__caption {
	margin: 0;

	font-size: 32px;
	line-height: 35px;
	text-align: center;
	padding-left: 16px;
	padding-right: 16px;
}
.comments__intro {
	text-align: center;
}
.photographer-name {
	font-weight: bold;
}
.photographer-quote {
	text-align: left;
	display: block;
}
@media(max-width: 768px){
	.photographer-quote{
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 48px;
	}
	
}
@media(min-width: 768px){
	.photographer-quote{
		padding-left: 25%;
		padding-right: 25%;
		padding-bottom: 48px;
	}
	.comments__caption {
		font-size: 72px;
		line-height: 65px;
		width: 800px;
		margin: 0 auto;
	}
	
}
@media (max-width: 1024px) {
	.photographer-list {
		flex-direction: column;
		align-items: center;
	}

}

@media (min-width: 1024px) {
	.photographer-list {
		margin-left: 48px;
		margin-right: 48px;
		justify-content: space-between;
		margin-top: 72px;
		margin-bottom: 135px;
	}
	.photographer-quote {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 17px;
	}
	.photographer-list__item {
		width: 296px;

	}
	.photographer-list__item {
		align-items: flex-start;
	}
	.photographer-img {
		margin-bottom: 42px;
	}
	.photographer-name {
		order: 2;
	}
}
@media (min-width: 1280px) {
	.photographer-list__item {
		width: 382px;
	}
	.photographer-list {
		margin-bottom: 102px;
	}
}

@media (min-width: 1440px) {
	.photographer-list {
	    margin-left: 128px;
	    margin-right: 128px;
	}
}