.baikal-trip {
	background-image: url('../../../images/baikal/baikal.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	max-width: 1184px;
	margin-left: auto;
	margin-right: auto;

}
.baikal-trip__caption {
	margin: 0 auto;
	text-align: center;
	font-size: 32px;
	line-height: 35px;

}
.baikal-trip__subtitle {
	margin: 0 auto;
	text-align: center;
}

@media(max-width: 375px) {
	.baikal-trip {
		margin-top: 64px;
	}
	.baikal-trip__caption {
		padding-top: 64px;
		padding-bottom: 7px;
		font-size: 32px;
		line-height: 35px;
	}


}
@media(min-width: 375px) {

	.baikal-trip__caption {
		padding-top: 64px;
		padding-bottom: 17px;
		font-size: 32px;
		line-height: 35px;
		width: 255px;
	}
	.baikal-trip__subtitle {
		padding-bottom: 11%;
		font-size: 14px;
		line-height: 17px;
		width: 80%;
	}
	
}
@media(min-width: 768px) {
	.baikal-trip {
		margin-top: 102px;
	}
	.baikal-trip__caption {
		padding-top: 145px;
		padding-bottom: 17px;
		font-size: 72px;
		line-height: 78px;
		width: 537px;
	}
	.baikal-trip__subtitle {
		padding-bottom: 11%;
		font-size: 18px;
		line-height: 26px;
		width: 400px;
	}
	
}

@media(min-width: 1024px) {
	.baikal-trip {
		margin-top: 102px;
	}
	.baikal-trip__caption {
		padding-top: 211px;
		padding-bottom: 80px;
		font-size: 72px;
		line-height: 78px;
		width: 562px;
	}
	.baikal-trip__subtitle {
		padding-bottom: 11%;

		width: 511px;
	}
}
@media(min-width: 1280px) {
	.baikal-trip {
		margin-top: 102px;
	}
	.baikal-trip__caption {
		
		width: 100%;
	}
	.baikal-trip__subtitle {
		padding-bottom: 48px;

		width: 60%;
	}
}

@media(min-width: 1440px) {
	.baikal-trip {
		margin-left: 148px;
		margin-right: 148px;

	}
	.baikal-trip__caption {
		padding-top: 274px;
		
		font-size: 72px;
		line-height: 78px;
	}
	.baikal-trip__subtitle {
		padding-bottom: 48px;
		font-size: 18px;
		line-height: 26px;
	}
}